.centralized {
  display: flex;
  place-items: center;
}

.email {
  color: #3ab3ff;
  text-decoration: underline;
}

.user-profile-picture {
    font-size: 5em;
    height: auto;
    width: auto;
}

