.flex-column-gap {
    flex-direction: column;
    display: flex;
    gap: 1em;
}

.add-buttons {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 30dvh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}