<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <div class="actions-div">
        <div class="user-div">
          <div (click)="detailUser()" class="centralized user">
            <mat-icon>person</mat-icon>
            <span>{{ "@" + post?.user?.username }}</span>
          </div>

        <button (click)="deleteUser()" mat-button>
          <mat-icon>delete</mat-icon>
          User
        </button>
      </div>

        <button (click)="deletePost()" mat-button>
          <mat-icon>delete</mat-icon>
          Post
        </button>
      </div>

      <mat-divider></mat-divider>

      <p class="title">{{ post?.title }}</p>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>{{ post?.body }}</p>
  </mat-card-content>
  <!-- <app-comments [post]="post"></app-comments> -->
</mat-card>
